// Theme Primary Color
$primary: #438ffe;

// Mainly use for UI controls like Buttons
$secondary: #b7bbc8;

//Mainly for the Text
$accent: #160e4d;

//Main background
$main-bg: #f8f8f8;

//Content-bg
$primary-content-bg: white;

// Dedicated for button text only
$btn-text-primary: $primary;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "accent": $accent,
);


//searchbar 
$searchbar-bg: #f5f7f9;

//cards
$card-iconPrimary-bg: #edf4ff;
$card-iconSecondary-bg: #f4f9f4; 
$card-iconTertiary-bg: #f3f9f9; 

$card-Secondary: #8bc38a;
$card-Tertiary: #83bcbd;

$card-text-color: #b6bbc7;

$card-icon-container: (
  "Icon-primary-bg": $card-iconPrimary-bg,
  "Icon-secondary-bg":$card-iconSecondary-bg,
  "Icon-tertiary-bg":$card-iconTertiary-bg,
);


$card-theme: (
  "view": $primary,
  "product": $card-Secondary,
  "user": $primary,
  "sells": $card-Tertiary,
)
