// Global styles goes here
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.d-flex {
    display: flex;
}

.f-dir-column {
    flex-direction: column;
}
.wrapper {
    height: 100%;
    overflow: hidden;
}

.align-items-center {
    align-items: center;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    height: auto;
}


.justify-center{ 
    justify-content: center;
}