//button
$btn-height: 36px;
$btn-padding: 0 25px;

//cards
$card-icon-fontSize: 2rem;
$card-height: 250px;
$card-width: 25%;
$card-margin: 20px 10px 0 10px;
$card-inner-padding: 20px;
$card-content-padding: 5px 0;

//navbar
$navbar-icon-size: 1.5rem;