//Sidebar and Main Content Container 
.main-content{
    height: 100%;
    flex-direction: row;
    background-color: $main-bg;
    
    // Main Content
    .main{
        padding: 40px;
        height: 100%;
        width: 100%;
        flex-grow: 1;
        background-color: $main-bg;
    }
}


// Statistics Section
.main-statistics{
    margin-top: 30px;
    flex-grow: 1;
    
    }
    .statisticData{
        width: 40%;
        background-color: white;
    }
