// Header area style
.topNav{
    // border: 1px solid black;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    background-color: $primary-content-bg;
    border-bottom: 2px solid $main-bg;
    flex-shrink: 0;

    .topNav-Container1{
        // border: 1px solid red;
        .icon-Logo{
            font-size: $navbar-icon-size;
            padding: 0 33px;
            cursor: pointer;
        }
       
        .search-bar{
            background-color: $searchbar-bg;
            border: none;
            padding-left: 10px;
        }
    } 

    .topNav-Container2{
        // border: 1px solid navy;
        span{
            font-size: $navbar-icon-size;
            padding-right: 50px;
        }
        figure{
            padding-right: 40px;
        }
    }
}
