.sidebar{
    width: 90px;
    height: 100%;
    justify-content: space-between;
    background-color: $primary-content-bg;
    flex-shrink: 0;
    transition: all 0.4s ease;

    .sidebar-top{
        align-items: center;
        flex-grow: 1;
        overflow-y: auto;
    }
    
    .sidebar-bottom{
        align-items: center;
        padding-bottom: 80px;
    }
}


li{
    font-size: 1.5rem;
    padding: 25px 0;
}

a{
    text-decoration: none;
}
#sidebar-toggle{
    display: none;
}

.toggle{
    position: absolute;
    top: 46%;
    left: 85px;
    font-size: 2rem;
    transition: all 0.4s ease;
    padding-left: 8px;
    color: $primary;
    // background: #fff;
    // padding: 5px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // cursor: pointer;
    // box-shadow: 3px 0px 5px #0000001c;
}
#sidebar-toggle:checked ~ .sidebar{
    width: 0;
}

#sidebar-toggle:checked ~ .toggle {
    left: 0;
}
