.sidebar{
    width: 90px;
    height: 100%;
    justify-content: space-between;
    background-color: $primary-content-bg;
    flex-shrink: 0;
    transition: all 0.4s ease;

    @include for-size(tablet-portrait-up){
        width: 75px;
    }
    @include for-size(phone-only){
        width: 60px;
    }


    .sidebar-top{
        align-items: center;
        flex-grow: 1;
        overflow-y: auto;
    }
    
    .sidebar-bottom{
        align-items: center;
        padding-bottom: 80px;
    }
}


li{
    font-size: 1.5rem;
    padding: 25px 0;
}

a{
    text-decoration: none;
    
    :hover{
        color: $primary;
    }
}
#sidebar-toggle{
    display: none;
}

.toggle{
    position: absolute;
    top: 50%;
    left: 85px;
    font-size: 1.5rem;
    transform: translateY(-50%);
    transition: all 0.4s ease;
    padding-left: 4px;
    color: $primary;
    cursor: pointer;
    
    @include for-size(tablet-portrait-up){
        font-size: 1rem;
        padding: 3px;
        left: 75px;
    }
    
    @include for-size(phone-only){
        width: 60px;
        left: 60px;
    }
}
#sidebar-toggle:checked ~ .sidebar{
    width: 0;
    .sidebar-icon{
        transform: translateX(500px);
    }
}
#sidebar-toggle:checked ~ .toggle {
    left: 0;
}
