.card-view .icon {
  background-color: #dbeaff;
}

.cards .card-view:hover {
  background-color: #438ffe;
  color: white;
}

.cards .card-view:hover .card-desc .h3 {
  color: white;
}

.cards .card-view:hover .new-pdt {
  color: white;
}

.card-product .icon {
  background-color: #eff7ef;
}

.cards .card-product:hover {
  background-color: #8bc38a;
  color: white;
}

.cards .card-product:hover .card-desc .h3 {
  color: white;
}

.cards .card-product:hover .new-pdt {
  color: white;
}

.card-user .icon {
  background-color: #dbeaff;
}

.cards .card-user:hover {
  background-color: #438ffe;
  color: white;
}

.cards .card-user:hover .card-desc .h3 {
  color: white;
}

.cards .card-user:hover .new-pdt {
  color: white;
}

.card-sells .icon {
  background-color: #e7f2f2;
}

.cards .card-sells:hover {
  background-color: #83bcbd;
  color: white;
}

.cards .card-sells:hover .card-desc .h3 {
  color: white;
}

.cards .card-sells:hover .new-pdt {
  color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #160e4d;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.f-dir-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper {
  height: 100%;
  overflow: hidden;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

.Active {
  color: #438ffe;
  cursor: pointer;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}

.overflow-vertical {
  overflow-x: hidden;
  overflow-y: scroll;
}

.search-btn {
  height: 36px;
  padding: 0 25px;
  background-color: #438ffe;
  color: white;
  border: none;
  cursor: pointer;
}

.searchbar {
  margin-left: 40px;
  background-color: #f5f7f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .searchbar {
    margin-left: 24px;
  }
}

.searchbar #search .icon-Search {
  font-size: 1rem;
  padding: 10px 10px 10px 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .searchbar #search .icon-Search {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (max-width: 599px) {
  .searchbar #search .icon-Search {
    padding-left: 4px;
    padding-right: 0;
  }
}

.searchbar input {
  height: 36px;
  width: 400px;
}

@media (max-width: 992px) {
  .searchbar input {
    width: 270px;
  }
}

@media (max-width: 768px) {
  .searchbar input {
    width: 200px;
  }
}

@media (max-width: 599px) {
  .searchbar input {
    width: 160px;
  }
}

.cards {
  margin: 0 -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards .card-wrapper {
  width: 25%;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

@media (max-width: 1200px) {
  .cards .card-wrapper {
    width: 50%;
  }
}

@media (max-width: 599px) {
  .cards .card-wrapper {
    width: 100%;
  }
}

.cards .card {
  height: 250px;
  margin: 20px 10px 0 10px;
  background-color: white;
  padding: 20px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.cards .card .icon {
  height: 60px;
  width: 60px;
}

.cards .card p {
  font-size: 2rem;
  font-weight: 550;
  padding: 5px 0;
}

.cards .card h3 {
  font-size: 1rem;
  font-weight: 400;
  padding: 5px 0;
  color: #b6bbc7;
}

.card-icons {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
}

.card-icons .icon-eye {
  font-size: 2rem;
}

.card-icons .icon-shoppingBag {
  font-size: 2rem;
}

.card-icons .icon-People {
  font-size: 2rem;
}

.card-icons .icon-shoppingCart {
  font-size: 2rem;
}

.card-icons .icon-greenGraph {
  font-size: 2rem;
}

.card-icons .icon-redGraph {
  font-size: 2rem;
}

.card-desc {
  padding: 10px 0;
  border-bottom: 1px solid #b6bbc7;
}

.card-footer {
  padding-top: 10px;
  color: #b6bbc7;
}

.card-footer .new-pdt {
  color: #438ffe;
  cursor: pointer;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
}

.tabularList {
  width: 60%;
  margin-right: 20px;
  height: 450px;
  padding: 0 20px;
  background-color: white;
  table-layout: fixed;
  position: relative;
  overflow: auto;
}

@media (max-width: 992px) {
  .tabularList {
    width: 100%;
    margin-right: 0;
  }
}

.tabularList .table {
  border-spacing: 0 1rem;
  width: 100%;
  text-align: left;
}

.tabularList .table .table-row {
  background-color: #f8f8f8;
  border-bottom: 15px solid white;
}

.tabularList .table .t-head {
  padding: 20px 5px;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.tabularList .table .t-data {
  padding: 10px 5px;
  margin: 5px 0;
}

.tabularList .table .t-data div {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabularList .table .t-img {
  padding: 10px 0;
}

.tabularList .table .pdt-name-avatar {
  width: 40px;
  height: 40px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a09f9f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777676;
}

.topNav {
  height: 80px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-bottom: 2px solid #f8f8f8;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (max-width: 768px) {
  .topNav {
    height: 70px;
  }
}

@media (max-width: 599px) {
  .topNav {
    height: 70px;
  }
}

.topNav .topNav-Container1 .icon-Logo {
  font-size: 1.5rem;
  padding: 0 33px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .topNav .topNav-Container1 .icon-Logo {
    padding: 0 24px;
  }
}

@media (max-width: 599px) {
  .topNav .topNav-Container1 .icon-Logo {
    padding: 0 16px;
  }
}

.topNav .topNav-Container1 .search-bar {
  background-color: #f5f7f9;
  border: none;
  padding-left: 10px;
}

.topNav .topNav-Container2 span {
  font-size: 1.5rem;
  padding-right: 30px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .topNav .topNav-Container2 span {
    padding-right: 25px;
  }
}

@media (max-width: 768px) {
  .topNav .topNav-Container2 span {
    padding: 12px;
  }
}

.topNav .topNav-Container2 figure {
  padding-right: 40px;
}

@media (max-width: 768px) {
  .topNav .topNav-Container2 figure {
    padding-right: 24px;
  }
}

.main-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f8f8f8;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

.main-content .main {
  padding: 30px;
  height: 100%;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: auto;
  background-color: #f8f8f8;
  scrollbar-gutter: stable;
}

@media (max-width: 768px) {
  .main-content .main {
    padding: 24px;
  }
}

.main-statistics {
  margin-top: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.statisticData {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: white;
}

.statisticData .stat-1 {
  border: 1px solid black;
  padding: 10px 0;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.statisticData .stat-2 {
  border: 1px solid yellow;
  padding: 10px 0;
  width: 100%;
}

.statisticData .stat-3 {
  border: 1px solid green;
  padding: 10px 0;
  width: 100%;
}

@media (max-width: 992px) {
  .statisticData {
    width: 100%;
    height: 450px;
    margin-top: 2rem;
  }
}

.sidebar {
  width: 90px;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media (max-width: 768px) {
  .sidebar {
    width: 75px;
  }
}

@media (max-width: 599px) {
  .sidebar {
    width: 60px;
  }
}

.sidebar .sidebar-top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: auto;
}

.sidebar .sidebar-bottom {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 80px;
}

li {
  font-size: 1.5rem;
  padding: 25px 0;
}

a {
  text-decoration: none;
}

a :hover {
  color: #438ffe;
}

#sidebar-toggle {
  display: none;
}

.toggle {
  position: absolute;
  top: 50%;
  left: 85px;
  font-size: 1.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding-left: 4px;
  color: #438ffe;
  cursor: pointer;
}

@media (max-width: 768px) {
  .toggle {
    font-size: 1rem;
    padding: 3px;
    left: 75px;
  }
}

@media (max-width: 599px) {
  .toggle {
    width: 60px;
    left: 60px;
  }
}

#sidebar-toggle:checked ~ .sidebar {
  width: 0;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-icon {
  -webkit-transform: translateX(500px);
          transform: translateX(500px);
}

#sidebar-toggle:checked ~ .toggle {
  left: 0;
}

h1 {
  font-size: 2rem;
  color: #160e4d;
}
/*# sourceMappingURL=style.css.map */