// Button styles goes here
.search-btn{
    height: $btn-height;
    padding: $btn-padding;
    background-color: $btn-text-primary;
    color: $primary-content-bg;
    border: none;
    cursor: pointer;
}