// Card styles goes here
.cards {
    margin: 0 -10px;
    flex-wrap: wrap;

    .card-wrapper{
        width: $card-width;
        transition: all 0.4s ease-out;
        @include for-size(desktop-up) {
            width: $card-width * 2;
        }
        
        @include for-size(phone-only) {
            width: $card-width * 4;
        }
    }

    .card {
        height: $card-height;
        margin: $card-margin;
        background-color: $primary-content-bg;
        padding: $card-inner-padding;
        transition: 0.3s all;


        .icon {
            height: 60px;
            width: 60px;
        }
        p {
            font-size: 2rem;
            font-weight: 550;
            padding: $card-content-padding;
            // color: $accent;
        }

        h3 {
            font-size: 1rem;
            font-weight: 400;
            padding: $card-content-padding;
            color: $secondary;
            // color: $card-text-color;

        }
    }
}

.card-icons {
    justify-content: space-between;
    padding: $card-content-padding;

    .icon-eye {
        font-size: $card-icon-fontSize;
    }

    .icon-shoppingBag {
        font-size: $card-icon-fontSize;
    }

    .icon-People {
        font-size: $card-icon-fontSize;
    }

    .icon-shoppingCart {
        font-size: $card-icon-fontSize;
    }

    .icon-greenGraph {
        font-size: $card-icon-fontSize;
    }
    .icon-redGraph {
        font-size: $card-icon-fontSize;
    }
}

.card-desc {
    padding: 10px 0;
    border-bottom: 1px solid $card-text-color;
}

.card-footer {
    padding-top: 10px;
    color: $secondary;

    .new-pdt {
        color: $primary;
        cursor: pointer;
    }
}
