// Card styles goes here
.cards {
    margin: 0 -10px;

    .card {
        width: $card-width;
        height: $card-height;
        margin: $card-margin;
        background-color: $primary-content-bg;
        padding: $card-inner-padding;

        .lft-Icon-1 {
            background-color: $card-iconPrimary-bg;
        }
        .lft-Icon-2 {
            background-color: $card-iconSecondary-bg;
        }
        .lft-Icon-3 {
            background-color: $card-iconPrimary-bg;
        }
        .lft-Icon-4 {
            background-color: $card-iconTertiary-bg;
        }

        .leftIcon {
            height: 60px;
            width: 60px;
        }
        p {
            font-size: 2rem;
            font-weight: 550;
            padding: $card-content-padding;
            color: $accent;
        }

        h3 {
            font-size: 1rem;
            font-weight: 400;
            padding: $card-content-padding;
            color: $card-text-color;
        }
    }
}

.card-icons {
    justify-content: space-between;
    padding: $card-content-padding;

    .icon-eye {
        font-size: $card-icon-fontSize;
    }

    .icon-shoppingBag {
        font-size: $card-icon-fontSize;
    }

    .icon-People {
        font-size: $card-icon-fontSize;
    }

    .icon-shoppingCart {
        font-size: $card-icon-fontSize;
    }

    .icon-greenGraph {
        font-size: $card-icon-fontSize;
    }
    .icon-redGraph {
        font-size: $card-icon-fontSize;
    }
}

.card-desc {
    padding: 10px 0;
    border-bottom: 1px solid $card-text-color;
}

.card-footer {
    padding-top: 10px;
    color: $card-text-color;

    .new-pdt {
        color: $primary;
        cursor: pointer;
    }
}
