.searchbar {
    margin-left: 40px;
    background-color: $searchbar-bg;
    display: flex;
    align-items: center;
    #search {

        .icon-Search {
            font-size: 1rem;
            padding: 10px 10px 10px 20px;
            cursor: pointer;
        }
    }
    input {
        height: 36px;
        width: 400px;
    }
}
