.tabularList {
    width: 60%;
    margin-right: 20px;
    height: 450px;
    padding: 0 20px;
    background-color: $primary-content-bg;
    table-layout: fixed;
    position: relative;
    overflow: auto;

    @include for-size(tablet-landscape-up) {
        width: 100%;
        margin-right: 0;
    }

    .table {
        border-spacing: 0 1rem;
        width: 100%;
        text-align: left;

        .table-row {
            background-color: $main-bg;
            border-bottom: 15px solid $primary-content-bg;
        }
        .t-head {
            padding: 20px 5px;
            background-color: $primary-content-bg;
            position: sticky;
            top: 0;
        }

        .t-data {
            padding: 10px 5px;
            margin: 5px 0;

            div{
                width: 160px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .t-img {
            padding: 10px 0;
        }

        .pdt-name-avatar {
            width: 40px;
            height: 40px;
        }
    }
}
